.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.block {
    display: inline-block;
    height: 50px;
    margin: 10px;
    font-size: 29px;
    margin-top: 0;
    margin-left: 5%;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#plus,
#minus,
#multi,
#resalt,
#zero,
#divide,
#Square {
    background-color: blue;
    color: white;
    margin: auto;
    padding: 5px 12px 7px;
}

.card-body {
    background-color: black;
}

#btn_clr {
    background-color: brown;
    color: white;
}